.splash {
  position: fixed;
  inset: 0;
  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    135deg,
    #B088F9 0%,
    #9A87FB 40%,
    #7BAFF0 100%
  );

  opacity: 1;
  transition: opacity .35s ease;
}

.splash.hide {
  opacity: 0;
  pointer-events: none;
}

.splash-icon {
  width: auto;
  height: 190px;
  object-fit: contain;
  display: block;
}

.splash.hide .splash-icon {
  transform: scale(.94);
}